.App {
  background: linear-gradient(180deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 100%, 70%, 1) 50%, hsla(288, 73%, 59%, 1) 100%);
  height: 100vh;
}

/* create a semi-transparent header that aligns with screen gradient */
.header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(249, 245, 225, 0.2);
  border: 1px solid white;
  width: 100vw;
  box-sizing: border-box; /* prevents scrollbar when making width 100vw */
  margin: 0px;
  padding: 0px;
} 

.title {
  color: hsla(18, 100%, 70%, 1);
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  /* allows scrolling if there are more messages than the screen can fit */
  overflow: auto;
  max-height: calc(100vh - 4rem);
  min-height: calc(100vh - 4rem);
  padding-left: 0.5rem;
}

.text-message {
  color: hsla(50, 68%, 93%, 1);
  background: hsla(288, 73%, 59%, 1);
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
  border-radius: 0.5rem;
  font-size:0.5rem;
}

/* change font and other features according to screen size */
/* mobile */
html {
  font-size: 10px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 14px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 24px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 40px;
  }
}