.name-picker {
    color: hsla(18, 100%, 70%, 1);
    font-size: 0.5rem;
    margin-right: 1rem;
}

.name-title {
    margin-right: 0.2rem;
}

.name-input {
    width: 2.5rem; 
    border: 1px solid hsla(18, 100%, 70%, 1);
    height: 0.75rem;
    border-radius: 1rem;
    /* make text not start at very beginning of input */
    padding: 0 0.5rem;
    background: hsla(50, 68%, 93%, 1);
    color: hsla(18, 100%, 70%, 1);
    font-size: 0.5rem;
    margin-right: 1rem;
}

/* prevents default blue outline when clicking on name input */
.name-input:focus {
    outline: none;
}

.name-send-button {
    background-color: transparent;
    /*border-radius: 50%; */
    border: 1px solid hsla(18, 100%, 70%, 1);
    height: 0.8rem;
    width: 0.8rem;
    position: relative;
    right:0.8rem;
    bottom:0.1rem;
    cursor: pointer;
    font-size: 0.3rem;
    color: hsla(18, 100%, 70%, 1);
}